body, html {
  padding: 0;
  margin: 0;
  background: gray;
}

.outline {
  position: relative;
  left: 100px;
  top: 100px;
  background: white;
  width: 980px;
  height: 1386px;
}

.header, .content, .footer {
  margin-left: 44px;
  margin-right: 44px;
}

/* 顶部 */
.header {
  position: absolute;
  width: 891px;
  height: 63px;
  border-bottom: 2px solid #938e8c;
}

.header-box {
  height: 100%;
  width: 110px;
  background: #d45d5c;
}

.header-box span {
  position: absolute;
  left: 7px;
  top: 46px;
  color: #fff;
  font-size: 12px;
}

.header-date {
  position: absolute;
  right: 0px;
  top: 46px;
  color: #d45d5c;
  font-size: 12px;
}

.big-pic {
  position: absolute;
  left: 44px;
  top: 97px;
  width: 641px;
  height: 301px;
}

.big-pic img {
  width: 100%;
  height: 100%;
}

.greenlayer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 191px;
  height: 301px;
  background-color: green;
  opacity: 0.4;
}

.redlayer {
  position: absolute;
  left: 450px;
  top: 0px;
  width: 191px;
  height: 301px;
  background-color: red;
  opacity: 0.4;
}

.content {
  background: #eee;
  height: 1263px;
}

/* 页脚 */
.footer {
  position: absolute;
  top: 1326px;
  width: 892px;
  height: 59px;
  border-top: 1px solid #938e8c;
}

.footer span {
  position: absolute;
  right: 0px;
  top: 4px;
  color: #d45d5c;
  font-size: 12px;
}
