body, html {
  padding: 0;
  margin: 0;
  background: gray;
}

.outline {
  position: relative;
  left: 100px;
  top: 100px;
  background: white;
  width: 980px;
  height: 1386px;
}

.header, .content, .footer {
  margin-left: 44px;
  margin-right: 44px;
}

/* 顶部 */
.header {
  position: absolute;
  width: 891px;
  height: 63px;
  border-bottom: 2px solid #938e8c;
}

.header-box {
  height: 100%;
  width: 110px;
  background: #d45d5c;
}

.header-box span {
  position: absolute;
  left: 7px;
  top: 46px;
  color: #fff;
  font-size: 12px;
}

.header-date {
  position: absolute;
  right: 0px;
  top: 46px;
  color: #d45d5c;
  font-size: 12px;
}

.big-pic {
  position: absolute;
  left: 44px;
  top: 97px;
  width: 641px;
  height: 301px;
}

.big-pic img {
  width: 100%;
  height: 100%;
}

.greenlayer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 191px;
  height: 301px;
  background-color: green;
  opacity: 0.4;
}

.redlayer {
  position: absolute;
  left: 450px;
  top: 0px;
  width: 191px;
  height: 301px;
  background-color: red;
  opacity: 0.4;
}

.session {
  position: absolute;
  top: 439px;
  /*background: green;*/
}

.session .title {
  margin-top: 0;
  font-size: 16px;
  text-decoration: underline;
}

.session p {
  position: relative;
  top: -10px;
  font-size: 12px;
  margin: 16px 0;
}

#session1 {
  left: 44px;
  width: 228px;
}

#session1 .title {
  color: #418c59;
}

#session1 p {
  color: #767777;
}

#session2 {
  left: 299px;
  width: 204px;
}

#session2 .title {
  color: #d2994f;
}

#session2 p {
  color: #231815;
  opacity: 0.7;
}

#session3 {
  left: 532px;
  width: 131px;
}

#session3 .title {
  color: #cc7680;
}

#session3 p {
  color: #767777;
}

#session3 p .sp {
  color: #cd4a48;
  font-style: italic;
  opacity: 0.7;
}

.about {
  position: absolute;
  left: 733px;
  top: 98px;
  width: 203px;
  height: 301px;
  border-top: 2px solid #cc8091;
}

.about p {
  position: absolute;
  margin: 0;
  padding: 0;
}

.about .p1 {
  top: 15px;
  font-size: 24px;
  color: #000000;
  text-decoration: underline;
}

.about .p2 {
  top: 72px;
  font-size: 12px;
  color: #676767;
}

.about .p3 {
  top: 138px;
  font-size: 116px;
  color: #75b86b;
  font-style: italic;
}

.about .p4 {
  top: 256px;
  font-size: 55px;
  color: #cc8091;
}

.about .p5 {
  left: 90px;
  top: 277px;
  font-size: 21px;
  color: #cc8091;
}

.about .p6 {
  left: 90px;
  top: 293px;
  font-size: 12px;
  color: #662318;
}

.content {
  background: #eee;
  height: 1263px;
}

/* 页脚 */
.footer {
  position: absolute;
  top: 1326px;
  width: 892px;
  height: 59px;
  border-top: 1px solid #938e8c;
}

.footer span {
  position: absolute;
  right: 0px;
  top: 4px;
  color: #d45d5c;
  font-size: 12px;
}
